NEXT_PUBLIC_FIREBASE_API_KEY=ISI_DARI_FIREBASE_CONSOLE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ISI_DARI_FIREBASE_CONSOLE
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ISI_DARI_FIREBASE_CONSOLE
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ISI_DARI_FIREBASE_CONSOLE
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=ISI_DARI_FIREBASE_CONSOLE
NEXT_PUBLIC_FIREBASE_APP_ID=ISI_DARI_FIREBASE_CONSOLE
